#environment:{{ENV_NAME}};{{HTTP_PORT}}
server {
  listen 80;
  server_name {{DOMAIN}};

  location / {
    proxy_pass http://127.0.0.1:{{HTTP_PORT}};
    proxy_http_version 1.1;
    proxy_set_header Host $host;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }
}
